doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='x-apple-disable-message-reformatting')
  title
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,600' rel='stylesheet' type='text/css')
body(width='100%' font-family='Roboto ' style='margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f5f6fa;')
    h2 #{message} 

